.round {
  border-radius: 3px;
  background-color: #101820;
  font-size: 27px;
}

.color {
  color: #FEE715;
}

.txtimg {
  display: inline-block;
  text-align: center;
}

.text {
  background-color: #101820;
  color: #FEE715;
  border-radius: 3px;
}